/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #b22222 !important;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin: 0;
}

/* Formulário */
.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    background-color: #228B22 !important;
    color: white;
    padding: 15px;
}

.form-label {
    font-weight: bold;
}

.btn-success {
    background-color: #228B22;
    border-color: #228B22;
}

.btn-success:hover {
    background-color: #006400;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}
